.md table, .md td, .md th {
  border: 1px solid #E0E3E6;
}

.md table {
  border-collapse: collapse;
}

.md td, .md th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.md tbody > tr:nth-child(even) {
  background-color: #F6F8FA;
}

.md ul p {
  margin: 0;
}

.md li > ul {
  padding-left: 1.25rem;
}

main {
  width: 100%;
  margin: auto;
  font-family: Arial,sans-serif;
}

.md blockquote {
  padding: 0 1rem;
  margin: 0;
  color: #6A737D;
  border-left: 0.25rem solid #E0E3E6;
}

.d-flex {
  display: flex;
}

.d-col {
  flex-direction: column;
}

.article-search {
  float: right;
  display: flex;
  flex-direction: column;
}

.big-search input {
  float: unset;
  width: 100%;
  font-size: 1.2rem;
}

.big-search {
  width: 80%;
}

.big-search-container {
  width: 100%;
  justify-content: center;
}

.article-recommendation {
  text-decoration: none;
  color: black;
}

.article-recommendation div {
  height: 1.1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.article-recommendation:nth-child(even) div {
  background-color: #F6F8FA;
}

.article-recommendation:hover div {
  background-color: #3e9cf9;
}

.recommendation-container {
  border: 1px solid #E0E3E6;
  z-index: 10;
}

.big-search .recommendation-container {
  width: calc(100% + 0.38rem);
}
